/*************************************************
 * Variables
 **************************************************/

/* Colors */
$background-color: #ECF0F1;
$accent-color: #E74C3C;
$dark-accent-color: #2C3E50;
$generic-color-light: #3498DB;
$generic-color-dark: #2980B9;

/* Sizes */
$bs-ph: 420px;
$bs-xs: 768px;
$bs-sm: 992px;
$bs-md: 1200px;

/*************************************************
 * Element-level rules
 **************************************************/

html, #root, #root>div, body {
    // getting react to not render at weird sizes
    width: 100%;
    height: 100%;
}

body {
    background-size: cover;
    background: $background-color;
}

/*************************************************
 * Generic rules
 **************************************************/

/* Bootstrap Overrides */
.col-ph-12 {
    @media screen and (max-width: $bs-ph) {
        width: 100%;
    }
}

/* General Generics (aka not sure how to classify these) */
.material-shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.clickable:hover {
    @extend .material-shadow;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition-duration: .5s;
    transition-property: all;

}

.ReactModal__Content, .ReactModal__Content--after-open {
    margin: 100px;
    @media screen and (max-width: $bs-xs) {
        margin: 20px;
    }
    @media screen and (max-width: $bs-ph) {
        margin: 10px;
    }
}

/*************************************************
 * Specific rules
 **************************************************/

.project-select-box {
    @extend .material-shadow;
    padding: 40px 20px;
    margin: 20px 0;
    background-color: $generic-color-dark;
    color: $background-color;
    @media screen and (max-width: $bs-xs) {
        padding: 30px 10px;
        margin: 10px 0;
    }
}

.project-select-box:hover {
    @extend .clickable:hover;
}

.new-project-select-box {
    @extend .project-select-box;
    background-color: $background-color;
    color: black;
}

.new-project-select-box:hover {
    @extend .project-select-box:hover;
}
/* Kanban Goodies - BEWARE YE WHO ENTER HERE*/
.app-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}
.app-inner {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
}
.kanban-board-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.kanban-board-inner {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 0;
    -webkit-transition: margin .1s ease-in;
    transition: margin .1s ease-in;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.kanban-board-canvas {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    white-space: nowrap;
}
.kanban-board {
    white-space: nowrap;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.kanban-list-wrapper {
    width: 270px;
    margin: 0 5px;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}
.kanban-list {
    background: white;
    border-radius: 3px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%;
    position: relative;
}
.kanban-list-inner {
    overflow-y: auto;
}

.kanban-board-header{
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    height: auto;
    overflow: hidden;
    padding: 8px 4px 8px 8px;
    position: relative;
    text-align: center;
}

.kanban-header {
    font-size: 24px;
    font-weight: 600;
    background-color: $generic-color-light;
    text-align: center;
}
